{# The practice tools a scheme student can always open (apps/scheme/gate.PRACTICE). #}
<div class="sh-practise">
  <a href="{% url 'clash:hub' %}" class="sh-tile"><span class="px-item__ii t-blush" aria-hidden="true">{% include "includes/icon.html" with name="swords" size=24 %}</span><b>Diction Clash</b></a>
  <a href="{% url 'quick_words:hub' %}" class="sh-tile"><span class="px-item__ii t-butter" aria-hidden="true">{% include "includes/icon.html" with name="words" size=24 %}</span><b>Quick Words</b></a>
  <a href="{% url 'book:phonemic_chart' %}" class="sh-tile"><span class="px-item__ii t-sky" aria-hidden="true">{% include "includes/icon.html" with name="ipa" size=26 %}</span><b>Phonemic chart</b></a>
  <a href="{% url 'tutor:hub' %}" class="sh-tile"><span class="px-item__ii t-sky" aria-hidden="true">{% include "includes/icon.html" with name="robot" size=24 %}</span><b>Read with Yela</b></a>
</div>
